* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.spinner_container {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    #eac779,
    #d8ae65,
    #c69552,
    #b37d40,
    #a06530
  );
  z-index: 20;
}

.our_spinner {
  position: absolute;
  font-size: 20px;
}
